.popup-card-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, .4);
    z-index: 1;
    display: flex;
}

.popup-card {
    background: #FFFFFF;
    margin: auto;
    border-radius: .2rem;
    overflow: hidden;
    box-shadow: 0 0 60px rgba(0, 0, 0, .6);
    position: relative;
}

.popup-card .close {
    color: #A0A0A0;
    background: transparent;
    font-size: .22rem;
    position: absolute;
    top: .1rem;
    ;
    right: .1rem;
    transition: .2s;
    z-index: 1;
}

.popup-card .close:hover {
    color: #000000;
}

.popup-card-transition-enter {
    opacity: 0.01;
    transform: scale(0.8);
}

.popup-card-transition-enter-active {
    opacity: 1;
    transform: scale(1);
    transition: all 300ms;
}

.popup-card-transition-exit {
    opacity: 1;
    transform: scale(1);
}

.popup-card-transition-exit-active {
    opacity: 0.01;
    transform: scale(0.8);
    transition: all 300ms;
}