.user-card input,
.user-card textarea {
    border: none;
    width: 100%;
}

.user-card textarea {
    overflow: hidden;
    resize: none;
}

.user-card input:focus,
.user-card textarea {
    outline: none;
}

.user-card {
    background: #FFFFFF;
    margin: auto;
    width: 3.4rem;
    min-height: 60%;
    border-radius: .2rem;
    padding: .4rem .4rem .8rem;
    box-shadow: 0 0 60px rgba(0, 0, 0, .6);
    text-align: center;
    position: relative;
}

.user-card .close {
    color: #A0A0A0;
    background: transparent;
    font-size: .22rem;
    position: absolute;
    top: .1rem;;
    right: .1rem;
    transition: .2s;
}

.user-card .close:hover {
    color: #000000;
}

.user-card .avatar {
    margin-top: .2rem;
    text-align: center;
    width: 1rem;
    height: 1rem;
}

.user-card .avatar>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 100%;
}

.user-card .avatar-input {
    display: none;
}

.user-card .name {
    color: #666666;
    font-size: .18rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: .04rem;
}

.user-card .description {
    color: #A0A0A0;
    font-size: .15rem;
    text-align: center;
    margin-bottom: .1rem;
}

.user-card .phone-label,
.user-card .email-label {
    width: 100%;
    position: relative;
    margin: 0;
    text-align: right;
}

.user-card .phone-label>input,
.user-card .email-label>input {
    font-size: .15rem;
    color: #666666;
    width: 72%;
    text-align: left;
    margin: .1rem;
}

.user-card .save {
    width: 60%;
    padding: .04rem;
    border-radius: .2rem;
    background: #50C881;
    color: #FFFFFF;
    position: absolute; 
    bottom: .3rem;
    left: 50%;
    transform: translateX(-50%);
}