.nav-bar {
    flex: 0 0 25%;
    box-shadow: 0 0 60px #F4F4F4;
    z-index: 1;
}

.user-info {
    padding: .4rem;
    border-bottom: 1px solid #F4F4F4;
    display: flex;
}

.user-info .avatar {
    background: transparent;
}

.user-info .avatar>img {
    width: .8rem;
    height: .8rem;
    border-radius: 50%;
}

.user-info .info {
    margin-left: .24rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.user-info .info>h4 {
    color: #666666;
    font-size: .15rem;
    margin-bottom: .06rem;
}

.user-info .info>p {
    color: #A0A0A0;
    font-size: .14rem;
}

.add-gallery {
    padding: .28rem;
    display: flex;
}

.add-gallery>button{
    width: .54rem;
    height: .54rem;
    border-radius: 100%;
    border: none;
    background: #FF5152;
    color: #FFFFFF;
    font-size: .24rem;
    margin: auto;
}

.gallery-list>ul {
    list-style: none;
    padding: 0;
}

.gallery-list>ul>li {
    display: flex;
    padding: .32rem 10%;
    width: calc(100% + .1rem);
    border-top-right-radius: .06rem;
    border-bottom-right-radius: .06rem;
    cursor: pointer;
    transition: all .1s;
    position: relative;
}

.gallery-list>ul>li .logo>img {
    width: .72rem;
    height: .72rem;
    border-radius: 100%;
}

.gallery-list>ul>li .info {
    margin-left: .2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.gallery-list>ul>li .info>h4 {
    color: #555555;
    font-size: .15rem;
    margin-bottom: .02rem;
}

.gallery-list>ul>li .info>p {
    color: #A0A0A0;
    font-size: .14rem;
}

.gallery-list>ul>li .number {
    position: absolute;
    top: 50%;
    right: 12%;
    transform: translateY(-50%);
    opacity: 0;
}

.gallery-list>ul>li .number>h4 {
    font-size: .14rem;
    font-weight: normal;
    color: #FFFFFF;
    text-align: center;
}

.gallery-list>ul>li .number>p {
    color: #EEEEEE;
    font-size: .14rem;
    text-align: center;
}

.gallery-list>ul>li.active {
    background: #50C881;
    box-shadow:  0 20px 40px -10px #B5E4C4;
}

.gallery-list>ul>li.active .info>h4 {
    color: #FFFFFF;
}

.gallery-list>ul>li.active .info>p {
    color: #EEEEEE;
}

.gallery-list>ul>li.active .number {
    opacity: 1;
}