.user-card {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, .4);
    z-index: 1;
    display: flex;
}

.user-card input,
.user-card textarea {
    border: none;
    width: 100%;
}

.user-card textarea {
    overflow: hidden;
    resize: none;
}

.user-card input:focus,
.user-card textarea {
    outline: none;
}

.user-card .card {
    background: #FFFFFF;
    margin: auto;
    width: 3.4rem;
    min-height: 60%;
    border-radius: .2rem;
    padding: .4rem .4rem .8rem;
    box-shadow: 0 0 60px rgba(0, 0, 0, .6);
    text-align: center;
    position: relative;
}

.user-card .card .close {
    color: #A0A0A0;
    background: transparent;
    font-size: .22rem;
    position: absolute;
    top: .1rem;;
    right: .1rem;
    transition: .2s;
}

.user-card .card .close:hover {
    color: #000000;
}

.user-card .card .avatar {
    padding: .1rem .6rem;
    text-align: center;
}

.user-card .card .avatar>img {
    width: 1rem;
    border-radius: 100%;
    margin: auto;
}

.user-card .card .avatar-input {
    display: none;
}

.user-card .card .name {
    color: #666666;
    font-size: .18rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: .04rem;
}

.user-card .card .description {
    color: #A0A0A0;
    font-size: .15rem;
    text-align: center;
    margin-bottom: .1rem;
}

.user-card .card .phone-label,
.user-card .card .email-label {
    width: 100%;
    position: relative;
    margin: 0;
    text-align: right;
}

.user-card .card .phone-label>input,
.user-card .card .email-label>input {
    font-size: .15rem;
    color: #666666;
    width: 72%;
    text-align: left;
    margin: .1rem;
}

.user-card .card .save {
    width: 60%;
    padding: .04rem;
    border-radius: .2rem;
    background: #50C881;
    color: #FFFFFF;
    position: absolute; 
    bottom: .3rem;
    left: 50%;
    transform: translateX(-50%);
}