.user-card {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, .4);
    z-index: 1;
    display: flex;
}

.user-card .card {
    background: #FFFFFF;
    margin: auto;
    width: 3.4rem;
    min-height: 60%;
    border-radius: .2rem;
    padding: .4rem;
    box-shadow: 0 0 60px rgba(0, 0, 0, .6);
    position: relative;
}

.user-card .card .close {
    color: #A0A0A0;
    background: transparent;
    font-size: .22rem;
    position: absolute;
    top: .1rem;;
    right: .1rem;
    transition: .2s;
}

.user-card .card .close:hover {
    color: #000000;
}

.user-card .card .avatar {
    padding: .2rem .6rem;
    text-align: center;
}

.user-card .card .avatar>img {
    width: 1rem;
    border-radius: 100%;
    margin: auto;
}

.user-card .card .name {
    color: #666666;
    font-size: .2rem;
    text-align: center;
    margin: .4rem 0 .04rem;
}

.user-card .card .desription {
    color: #A0A0A0;
    font-size: .15rem;
    text-align: center;
    margin-bottom: .4rem;
}

.user-card .card .phone {
    color: #666666;
    font-size: .15rem;
    text-align: center;
}

.user-card .card .email {
    color: #666666;
    font-size: .15rem;
    text-align: center;
    margin: .1rem;
}


.user-card .card .phone>svg,
.user-card .card .email>svg {
    margin-right: .04rem;
}