.pics-viewer {
    width: 100%;
    background: #FCFCFC;
    padding: .4rem .6rem 0;
    overflow-y: scroll;
}

.pics-viewer::-webkit-scrollbar {
    display: none;
}

.pics-viewer .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pics-viewer .header>h2 {
    color: #666666;
    font-size: .15rem;
}

.pics-viewer .header>label {
    margin: auto 0;
    color: rgba(0, 0, 0, .5);
    font-size: .34rem;
    background: transparent;
    cursor: pointer;
}

.pics-viewer .header input[type=file] {
    display: none;
}

.pics-viewer .imgs>ul {
    margin-top: .2rem;
    display: flex;
    flex-wrap: wrap;
}

.pics-viewer .imgs>ul>li {
    width: 2.68rem;
    height: 2.68rem;
}

.pics-viewer .imgs>ul>li .img-wrapper {
    width: 100%;
    height: 100%;
    padding: .24rem;
    background-repeat: no-repeat;
    border-radius: .4rem;
}

.pics-viewer .imgs>ul>li .img-wrapper>img {
    width: 100%;
    height: 100%;
    border-radius: .1rem;
    object-fit: cover;
    transition: all .1s;
}
/* 
.pics-viewer .imgs>ul>li .img-wrapper>img:hover {
    box-shadow:  0 20px 40px 0px rgba(0, 0, 0, .4);
    transform: translateY(-.06rem);
} */