.pics-viewer {
    background: #FCFCFC;
    padding: .4rem .6rem;
}

.pics-viewer .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pics-viewer .header>h2 {
    color: #666666;
    font-size: .15rem;
}

.pics-viewer .header>label {
    margin: auto 0;
    color: rgba(0, 0, 0, .5);
    font-size: .34rem;
    background: transparent;
    cursor: pointer;
}

.pics-viewer .header input[type=file] {
    display: none;
}

.pics-viewer .imgs>ul {
    margin-top: .2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.pics-viewer .imgs>ul>li {
    flex: 0 0 32%;
    margin: .2rem 0;
}

.pics-viewer .imgs>ul>li>img {
    width: 100%;
    border-radius: .06rem;
}