.view-details {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, .4);
    z-index: 1;
    display: flex;
}

.view-details .card {
    background: #FFFFFF;
    margin: auto;
    width: 60%;
    height: 90%;
    border-radius: .2rem;
    box-shadow: 0 0 60px rgba(0, 0, 0, .6);
    position: relative;
    display: flex;
}

.view-details .card>img {
    height: 72%;
    margin: auto;
}

.view-details .card .close {
    color: #A0A0A0;
    background: transparent;
    font-size: .22rem;
    position: absolute;
    top: .1rem;;
    right: .1rem;
    transition: .2s;
}

.view-details .card .close:hover {
    color: #000000;
}