.sign-in {
    width: 100%;
    height: 100vh;
    display: flex;
}

.sign-in>form {
    margin: auto;
    transform: translateY(-.8rem);
}

.sign-in>form>label {
    display: block;
    position: relative;
    margin: .32rem 0;
}

.sign-in>form>label>svg {
    position: absolute;
    left: .2rem;
    top: .14rem;
    font-size: .22rem;
    color: rgba(0, 0, 0, 0.4);
}

.sign-in>form>label>input {
    width: 4rem;
    display: block;
    border: none;
    padding: .14rem .3rem .14rem .6rem;
    border-radius: .3rem;
    transition: all 0.4s;
}

.sign-in>form>label>input:focus {
    outline: none;
    box-shadow:  0 10px 40px 0px #B5E4C4;
}

.sign-in>form>label>input::placeholder {
    color: rgba(0, 0, 0, 0.4);
    font-size: .15rem;
}

.sign-in>form .signinBtn {
    width: 100%;
    padding: .1rem;
    border-radius: .2rem;
    background: #50C881;
    color: #FFFFFF;
}

.sign-in>form .signupBtn {
    background: transparent;
    color: rgba(0, 0, 0, 0.4);
    margin-top: .1rem;
    float: right;
    font-size: .15rem;
}